    <header>
      <h1>Projects</h1>
    </header>
    <main>
      <div class='items'>
        <div class='item'>
          <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 600 400'>
            <defs>
              <clipPath id='clip-0'>
                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
              </clipPath>
            </defs>
            <text class='svg-text' dy='.3em' x='50%' y='40%'>
              move
            </text>
            <text class='svg-text' dy='.3em' x='50%' y='60%'>
              concept, design, implementation 
            </text>
            <g clip-path='url(#clip-0)'>
              <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href="/assets/images/projects/move.png"></image>
              <!-->https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/i-xrays.png-->
              <text class='svg-masked-text' dy='.3em' x='50%' y='40%'>
                move
              </text>
            </g>
          </svg>
        </div>

      </div>
    </main>
