$db: #2f3238;
$dc: #f5f5f5;
$lb: #f9f9f9;
$lc: #1a1a1a;
$l: #1abc89;



main {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  padding-bottom: 1rem;
  font-weight: 600;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    width: 600px;
    height: 400px;

    margin: 10px;

    cursor: pointer;
    background-color: lighten($db, 5);
    //border-radius: 2px;
    //box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
    //transform: translateZ(0);
  }
  
  .item:hover {
    circle,
    image {transform: scale(1)}
  }

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  transform-origin: 50% 50%;
  transform: scale(0);
  // transition: transform 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

text {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text2 {
  fill: lighten($db, 16)
}
.svg-text {
  fill: white;
  font-size: 40px;
}
.svg-masked-text {fill: rgba(#fff, 1);}

image {
  //transform: scale(1.1);
  width: 100%;
  height: 100%;
 // transform-origin: 50% 50%;
  //transition: transform 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}



