

<input type="checkbox" id="burgerStateCheckbox" #cb>
<label for="burgerStateCheckbox">

  

  <div (click)="disableScroll()" class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</label>

<nav>
  <div class="wrapper">
    <a (click)="cb.click(); enableScroll()" routerLink="">Home</a>
    <a (click)="cb.click(); enableScroll()" routerLink="projects">Projects</a>
    <a (click)="cb.click(); enableScroll()" routerLink="about">About</a>
    <a (click)="cb.click(); enableScroll()" routerLink="contact">Contact</a>
  </div>  
</nav>