<div class="page first">
  <div class="wrapper">
    <div class="container">
      <div id="hi">Hi,</div>
      <div id="name">I'm Chris,</div>
      <div id="role">UX Designer, Web Developer</div>
    </div>
  </div>
</div>

<!--><div class="page second">
  <div class="wrapper">
    <div class="left">
      Hi, I am Chris, a UX Designer and Web Developer currently studying in Ingolstadt, Germany. Please feel free to have a look around.
    </div>
    <div class="right">
      Web Development is my passion since I first came in touch with it. Da aber sauberer code allein noch keine gute
      Website macht, habe ich mich dafür entschieden, User Experience Design zu lernen um noch bessere Websites bauen zu können.
    </div>
  </div>
</div>

<div class="page third">
  <div class="wrapper">
    <div class="heading">Recent Projects</div>
  </div>
</div></!-->
